<%- include('partials/header')%>
<main>
    <section>
        <h2>Título del NOSOTROS</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas magnam sit, voluptate culpa nostrum autem, quae ipsum quibusdam illum molestiae cupiditate beatae dignissimos aut veniam quis, ut reprehenderit aliquam deleniti.</p>
    </section>
</main>
<%- include('partials/footer')%>